body {
  background: url('https://images.unsplash.com/photo-1493274366568-b608e3895174?dpr=2&auto=format&fit=crop&w=1080&h=763&q=80&cs=tinysrgb&crop=');
  font-family: Helvetica, ARIAL, sans-serif;
  background-size: 100%;
  position: relative;
  background-position: center;
}

a, a:hover {
  text-decoration: none;
}

.login-body {
  overflow:hidden;
  position:relative;
  width:360px;
  height:420px;
  margin: 30px auto;
  text-align:center;
  border-radius: 3px;
  background-size: 100%;
  background-position: center;

}

.menu {
  overflow: hidden;
  position: absolute;
	width: 360px;
	height: 50px;
  text-align: center;
  background: rgba(71, 160, 75, 0.9);
  transition: linear 0.5s;

}



.user-wrapper {
  height: 100%;
  padding: 50px;
  background-color:rgba(193,159,56, 0.9);
}

.avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  display:inline-block;
  /* why doesnt need /public?*/
  background: url('./assets/fac.png');
  /*background-position:-55px 10px;*/
  border-radius:50%;
  background-size:cover;
}

.user-login span {
  position: relative;
  top: -5px;
  width: 40px;
  height: 30px;
  display: inline-block;
  border-radius: 2px 0 0 2px;
  background: rgba(71, 160, 75, 0.9);
}

.user-login input {
  height: 30px;
  width: 180px;
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 0;
  display:inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  outline-offset: -3px;
  outline: none;
  border:none;
  border-bottom: 1px solid #fff;
  background: none;
}

.user-login input:focus {
  background: none;
  outline-offset: -3px;
  outline: none;
  border-bottom: 1px solid #fff;
  margin-left: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
  color:#fff;
  font-weight: 100;
  letter-spacing: 2px;
}

.user-login i {
  position:relative;
  top: 5px;
  color: #fff;
  font-size: 16px;
}

.log-btn {
  margin: 10px 0;
  padding: 15px 60px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 2px;
  background: rgba(71, 160, 75, 0.8);
  transition: linear 0.3s;
}

.log-btn:hover {
  color: rgba(71, 160, 75, 0.8);
  border: 2px solid rgba(66,50,86, 0.8);
  background: none;
}

h2 {
   color: white;
   font-family: 'Courgette', cursive;

}
